{% extends "layouts/base.html" %}
<!-- base页面中留存 stylesheets 和 javascripts block, 可以在head中添加部分内容 -->
{% block stylesheets %}{% endblock stylesheets %}
{% block javascripts %}{% endblock javascripts %}
<!-- 更改标题在下方代码块中-->
{% block title %}<!--页面标题-->{% endblock title %}
{% block content %}
    <div style="background: #fffbef;padding-top: 10px;padding-bottom: 100px;margin-top: -24px;margin-bottom: 236px;">
        <div class="row">
            <div class="col-xl-4" style="width: 400px;margin-left: 100px;margin-top: 200px;margin-right: 30px;"><img src="static/assets/img/推车.png" width="400px"></div>
            <div class="col-md-6" style="padding-top: 20px;padding-right: 20px;padding-bottom: 20px;padding-left: 20px;margin-left: 10px;">
                <h1>Order Detailes</h1>
                <p class="text-info-emphasis">2024-06-04 10:47:18</p>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">¥ 4</h4>
                        <h6 class="text-muted card-subtitle mb-2">Order Details</h6>
                        <p>Type of item：Books</p>
                        <p>Merchant：HuaXin</p>
                        <p>Name of item: Mathematical Analysis, Advanced Algebra</p>
                        <p>Number of items：<input type="text"></p>
                        <p>Expected delivery time：<input type="text"></p>
                        <p>Telephone:&nbsp;<input type="text"></p>
                        <p>Note：<input type="text"></p>
                    </div>
                </div>
                <div class="card"></div>
                <div class="card bg-secondary-subtle" style="margin-top: 19px;">
                    <div class="card-body" style="margin-bottom: 0px;padding-bottom: 0px;">
                        <h4 class="card-title">Address</h4>
                        <p class="card-text">Starting point:&nbsp;<input type="text"></p>
                        <p>End：&nbsp;<input type="text"></p>
                    </div>
                </div><button class="btn btn-primary" type="button" style="margin-left: 268px;margin-top: 12px;background: #f8d685;color: var(--bs-black);border-style: none;border-color: #f8d685;border-top-style: none;">Cancel</button><button class="btn btn-primary" type="button" style="margin-left: 35px;margin-top: 10px;background: #f8d685;color: rgb(10,9,9);border-color: #f8d685;border-top-style: none;">Submit</button>
                <div class="btn-group" role="group"></div>
            </div>
        </div>
    </div>
{% endblock content %}