{% extends "layouts/base.html" %}
<!-- base页面中留存 stylesheets 和 javascripts block, 可以在head中添加部分内容 -->
{% block stylesheets %}{% endblock stylesheets %}
{% block javascripts %}{% endblock javascripts %}
<!-- 更改标题在下方代码块中-->
{% block title %}<!--页面标题-->{% endblock title %}
{% block content %}
<form class="p-3 p-xl-4" method="post" action="/modifyproductsubmit">
    <div style="background: #fffbef;padding-top: 10px;padding-bottom: 100px;margin-top: -24px;margin-bottom: 236px;">
        <div class="container"
            style="width: auto;margin-left: 124px;padding-right: 0px;margin-right: 1px;height: auto;background: var(--bs-body-bg);box-shadow: 3px 3px 13px;border-radius: 20px;">
            <div class="row"
                style="width: auto;height: auto;padding-right: 0px;padding-left: 0px;margin-right: 156px;margin-left: 160px;padding-bottom: 0px;margin-bottom: 72px;margin-top: 64px;">
                <div class="col-md-6" style="width: auto;margin-left: -114px;">

                    <h1 style="margin-top: 20px;"><strong><span style="color: rgb(0, 0, 0);">Modify</span>
                            Product Order</strong></h1>
                    <h5 style="font-size: 30px;font-family: 'ADLaM Display', serif;"><strong><span
                                style="color: rgb(255, 196, 72);">Request content</span></strong></h5><select
                        class="form-select-lg" name="mname">
                        <optgroup label="PRODUCT" name="mname" id="MerchantInput">
                            <option value="" {% if mInformation['Merchant']=="" %} selected {% endif %}>Select a
                                Merchant</option>
                            <option value="Book" {% if mInformation['Merchant']=="Book" %} selected {% endif %}>Book
                            </option>
                            <option value="Living goods" {% if mInformation['Merchant']=="Living goods" %} selected {% endif %}>Living goods
                            </option>
                            <option value="Medicine" {% if mInformation['Merchant']=="Medicine" %} selected {% endif
                                %}>Medicine
                            </option>
                        </optgroup>
                    </select>
                    <div class="card" style="margin-top: 20px;">

                    
                        <div class="mb-3"><label class="form-label" for="oraddress"
                                style="font-size: 18px;font-weight: bold;">Pick-up location</label><input
                                class="form-control" type="text" id="oraddress" name="oraddress"
                                value="{{mInformation['PickupAddress']}}" style="border-width: 2px;" required></div>
                        <div class="mb-3"><label class="form-label" for="deaddress"
                                style="font-size: 18px;font-weight: bold;">Delivery location</label><input
                                class="form-control" type="text" id="deaddress" name="deaddress"
                                value="{{mInformation['DeliveryAddress']}}" style="border-width: 2px;" required></div>
                        <div class="mb-3"><label class="form-label" for="tele"
                                style="font-size: 18px;font-weight: bold;">Telephone</label><input
                                class="form-control" style="border-width: 2px;" name="tele" value="{{mInformation['OrderTelephone']}}" required></div>
                        <div class="mb-3"><label class="form-label" for="detime"
                                style="font-size: 18px;font-weight: bold;">Expected delivery time</label> <input
                                type="datetime-local" id="detime" name="detime" value="{{mInformation['DeliveryTime']}}" required></div>
                        <div class="mb-3"><label class="form-label" for="apay"
                                style="font-size: 18px;font-weight: bold;">Fees</label><input class="form-control"
                                type="number" id="apay" name="apay" value="{{mInformation['AdvancePayment']}}" required></div>
                        <div class="mb-3"><label class="form-label" for="content"
                                style="font-size: 18px;font-weight: bold;">Content</label><textarea class="form-control"
                                id="content" name="content" rows="6" style="height: 46px;border-width: 2px;"></textarea>
                        </div>
                        <script>
                            document.getElementById('content').value = "{{mInformation['Content']}}";
                        </script>
               {%with messages = get_flashed_messages()%}
               {%if messages%}
               <ul>
                   {% for message in messages%}
                   <li>{{message}}</li>
                   {%endfor%}
               </ul>
               {% endif %}
               {% endwith%}
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <p
                                style="width: 200PX;margin-left: 0px;padding-right: 0px;margin-right: 44px;margin-top: 16px;">
                                Payable&nbsp; ¥0.00</p>
                        </div>
                        <div class="col" style="width: 200px;padding-left: 10px;text-align: left;padding-top: 10px;">
                            <button class="btn btn-primary" type="submit"
                                style="background: rgb(255,196,72);border-style: none;"><strong>Publish
                                    Now</strong></button>
                        </div>


                    </div>
                    <div class="btn-group" role="group"></div>
                </div>
                <div class="col-md-6" style="padding-right: 0px;"><img
                        src="static/assets/img/necessarity.png"
                        style="width: auto;height: auto;max-width: 500px;margin-top: 80px;margin-left: 56px;"
                        width="800" height="870"></div>
            </div>
        </div>
    </div>
</form>
{% endblock content %}