{% extends "layouts/base.html" %}
<!-- base页面中留存 stylesheets 和 javascripts block, 可以在head中添加部分内容 -->
{% block stylesheets %}{% endblock stylesheets %}
{% block javascripts %}{% endblock javascripts %}
<!-- 更改标题在下方代码块中-->
{% block title %}<!--页面标题-->{% endblock title %}
{% block content %}
    <div class="tab-content" style="margin-top: -46px;">
        <div class="container">
            <div class="row" style="margin-top: 80px;">
                <div class="col-md-8 col-xl-2" style="margin-top: -44px;">
                    <div class="bg-body shadow d-flex flex-column flex-shrink-0 top-0 bottom-0" style="width: 15rem;height: 600px;position: fixed;margin-right: 0px;border-radius: 20px;margin-top: 150px;padding-left: 0px;margin-left: -106px;">
                        <ul class="nav nav-pills flex-column text-center nav-flush mb-auto">
                            <li class="nav-item"><a class="nav-link active py-3 border-bottom rounded-0" data-bss-hover-animate="pulse" href="chooseOrder" aria-current="page" style="height: 130px;background: #f8d685;color: rgb(132,77,51);font-weight: bold;font-family: 'Abril Fatface', serif;"><img src="{{ url_for('static', filename='assets/img/order.png') }}" width="66" height="70">
                                    <p style="font-size: 23px;">Choose Orders</p>
                                </a></li>
                            <li class="nav-item"><a class="nav-link active py-3 border-bottom rounded-0" data-bss-hover-animate="pulse" href="order_2.html" aria-current="page" style="height: 185px;background: #ffffff;color: rgb(132,77,51);font-weight: bold;font-family: 'Abril Fatface', serif;"><img src="{{ url_for('static', filename='assets/img/post.png') }}" width="60px">
                                    <p style="font-size: 23px;">MY Post</p>
                                </a></li>
                            <li class="nav-item"><a class="nav-link active py-3 border-bottom rounded-0" data-bss-hover-animate="pulse" href="accept" aria-current="page" style="height: 140px;background: #ffffff;color: rgb(132,77,51);font-weight: bold;font-family: 'Abril Fatface', serif;"><img src="{{ url_for('static', filename='assets/img/accept.png') }}" width="98" height="84">
                                    <p style="font-size: 23px;">MY Accept</p>
                                </a></li>
                            <li class="nav-item"><a class="nav-link active py-3 border-bottom rounded-0" data-bss-hover-animate="pulse" href="request_data.html" aria-current="page" style="height: 145px;background: #ffffff;color: rgb(132,77,51);font-weight: bold;font-family: 'Abril Fatface', serif;"><img src="{{ url_for('static', filename='assets/img/data.png') }}" width="84" height="84">
                                    <p style="font-size: 23px;">Data View</p>
                                </a></li>
                            <li class="nav-item"></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-xl-9">
                    <section class="py-4 py-xl-5">
                        <div class="container h-75" style="background-image: var(--bs-primary-bg-subtle);">
                            <div class="text-white border rounded border-0 p-4 py-5 rounded-5" style="margin-right: -86px;margin-left: -2px;margin-bottom: -70px;padding-right: 0px;background-image: url(&quot;static/assets/img/2.jpeg&quot;);height: 180px;margin-top: 66px;">
                                <div class="row h-100">
                                    <div class="col-md-10 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-xl-center" style="margin-bottom: -4px;">
                                        <div style="margin-top: -28px;">
                                            <p class="mb-4" style="margin-bottom: 3px;color: var(--bs-danger-text-emphasis);font-size: xx-large;font-weight: 600;text-shadow: var(--bs-emphasis-color);padding-top: 20px;padding-left: 32px;padding-right: 28px;padding-bottom: 22px;background: rgba(255,255,255,0.63);border-radius: 30px;">Please note delivery on request<br>Please note the delivery time</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
            <h2 style="font-family: 'Abril Fatface', serif;color: rgb(132,77,51);font-size: 40px;">CHOOSE ORDERS</h2>
        </div>
    </div>

    <section style="padding-bottom: 0px;height: auto;">
        <div class="container" style="width: auto;height: 100px;background: #ffc449;margin: auto;margin-top: 44px;">
            <div class="d-flex flex-column justify-content-between align-items-center flex-lg-row p-4 p-lg-5" data-bs-theme="light" style="width: auto;margin-top: -44px;margin-bottom: -46px;height: 100px;background: #f8d685;">
                <div class="text-center text-lg-start py-3 py-lg-1" style="font-family: 'Abril Fatface', serif;color: rgb(84,84,84);">
                    <h2 class="fw-bold mb-2">ORDERS</h2>
                </div>
                <p class="text-start" style="font-size: 25px;padding-top: 20px;padding-bottom: 20px;margin-bottom: 0px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; By :<select style="margin-left: 10px;padding: 5px;padding-top: 5px;padding-right: 5px;padding-bottom: 5px;color: var(--bs-black);text-align: center;box-shadow: 3px 3px 10px var(--bs-gray);border-radius: 10px;border-width: 2px;border-color: #f8d685;">
                    <optgroup label="This is a group">
                        <option value="12" selected="">Merchant</option>
                        <option value="12" selected="">Delivery address</option>
                        <option value="12" selected="">Request item</option>
                    </optgroup>
                </select></p>
                <form class="d-flex justify-content-center flex-wrap my-2" method="post">
                    <div class="my-2"><input id="searchOrders" class="form-control" type="text" name="email" placeholder="Search Orders" style="margin-right: 20px;padding-right: 22px;width: 333px;"></div>
                    <div class="my-2"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-search" style="font-size: 38px;margin-left: 24px;">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"></path>
                        </svg></div>
                </form>
            </div>
        </div>
    </section>


    <div id="placeholder">
       
{%if OrderAcc %}
    {% for Order in OrderAcc %}
    {% if Order['Receiving'] == '1' %}


    <div class="container py-4 py-xl-5" style="padding-left: 215px;padding-right: 31px;width: auto;margin-bottom: 200px;">
        <div style="width: 920px;">
           

            <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-lg-3" style="background: #ffffff;box-shadow: 3px 5px 15px 2px rgb(99,102,105);border-radius: 20px;padding-top: 10px;padding-right: 10px;padding-bottom: 10px;padding-left: 15px;margin-bottom: 80px;">
                <div class="col-xl-12">
                    <div>
                        <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" data-bss-hover-animate="pulse" width="90" height="82" src="{{ url_for('static', filename='assets/img/product_1.png') }}">
                            <div>
                                <p class="fw-bold mb-0" style="color: rgb(59,68,95);font-family: 'Abril Fatface', serif;font-size: 28px;">Product Delivery</p>
                                <p class="text-muted mb-0">{{Order['Email']}}</p>
                            </div>
                        </div>
                        <p class="bg-body-tertiary border rounded border-0 p-4" style="/*border: var(--bs-highlight-color);*/text-align: center;font-family: Abel, sans-serif;font-size: 23px;">  【{{Order['Merchant']}}】  {{Order['RequestContent']}}<br>Expected Delivery Time: {{Order['DeliveryTime']}}</p>
                        <div class="row">
                            <div class="col-xl-1" style="padding-right: 27px;margin-right: -26px;"><img data-bss-hover-animate="pulse" src="{{ url_for('static', filename='assets/img/start.png') }}" style="width: 70px;"></div>
                            <div class="col">
                                <p class="bg-body-tertiary border rounded border-0 p-4" style="/*border: var(--bs-highlight-color);*/padding-left: 67px;margin-left: 27px;font-family: Abel, sans-serif;font-size: 20px;">Starting point: {{Order['PickupAddress']}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-1" style="padding-right: 27px;margin-right: -26px;"><img data-bss-hover-animate="pulse" src="{{ url_for('static', filename='assets/img/end.png') }}" style="width: 68px;margin-left: 4px;margin-top: -10px;"></div>
                            <div class="col">
                                <p class="bg-body-tertiary border rounded border-0 p-4" style="/*border: var(--bs-highlight-color);*/padding-left: 67px;margin-left: 30px;font-size: 20px;font-family: Abel, sans-serif;">End: {{Order['DeliveryAddress']}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col"><button class="btn btn-primary" data-bss-hover-animate="pulse" type="button" style="margin-left: 528px;margin-bottom: 12px;padding-top: 12px;background: rgb(123,182,252);color: rgb(1,1,1);font-size: 20px;border-color: rgb(123,182,252);font-weight: bold;">¥&nbsp; &nbsp;{{Order['AdvancePayment']}}</button>
                                <a href="{{ url_for('order_details', order_id=Order['rid']) }}">
                                    <button class="btn btn-primary" name="order_id" value = "{{Order['rid']}}" type="button" id="choose{{ loop.index0 }}" style="margin-left: 50px; margin-bottom: 12px; padding-top: 14px;">Choose This</button>
                                </a>                                

                                </div>
                        </div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {%endif%}
    {%endfor%}
    {%endif%}
    </div>


            
            <!-- <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-lg-3" style="background: #ffffff;box-shadow: 3px 5px 15px 2px rgb(99,102,105);border-radius: 20px;padding-top: 10px;padding-right: 10px;padding-bottom: 10px;padding-left: 15px;margin-bottom: 80px;">
                <div class="col-xl-12">
                    <div>
                        <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" data-bss-hover-animate="pulse" width="90" height="82" src="{{ url_for('static', filename='assets/img/food_1.png') }}">
                            <div>
                                <p class="fw-bold mb-0" style="color: rgb(59,68,95);font-family: 'Abril Fatface', serif;font-size: 28px;">Food Delivery</p>
                                <p class="text-muted mb-0">1345@163.com</p>
                            </div>
                        </div>
                        <p class="bg-body-tertiary border rounded border-0 p-4" style="/*border: var(--bs-highlight-color);*/text-align: center;font-family: Abel, sans-serif;font-size: 23px;">Lukin Coffee: A cup<br>Remarks: Delivery as soon as possible</p>
                        <div class="row">
                            <div class="col-xl-1" style="padding-right: 27px;margin-right: -26px;"><img data-bss-hover-animate="pulse" src="{{ url_for('static', filename='assets/img/start.png') }}" style="width: 70px;"></div>
                            <div class="col">
                                <p class="bg-body-tertiary border rounded border-0 p-4" style="/*border: var(--bs-highlight-color);*/padding-left: 67px;margin-left: 27px;font-family: Abel, sans-serif;font-size: 20px;">Starting point: Lukin Coffee（In school)</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-1" style="padding-right: 27px;margin-right: -26px;"><img data-bss-hover-animate="pulse" src="{{ url_for('static', filename='assets/img/end.png') }}" style="width: 68px;margin-left: 4px;margin-top: -10px;"></div>
                            <div class="col">
                                <p class="bg-body-tertiary border rounded border-0 p-4" style="/*border: var(--bs-highlight-color);*/padding-left: 67px;margin-left: 30px;font-size: 20px;font-family: Abel, sans-serif;">End: Room 122, Gezhi Building</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col"><button class="btn btn-primary" data-bss-hover-animate="pulse" type="button" style="margin-left: 528px;margin-bottom: 12px;padding-top: 12px;background: rgb(123,182,252);color: rgb(1,1,1);font-size: 20px;border-color: rgb(123,182,252);font-weight: bold;">¥&nbsp; &nbsp;3</button><a href="order_details.html"><button class="btn" data-bss-hover-animate="pulse" type="button" style="margin-left: 50px;margin-bottom: 12px;padding-top: 14px;background: #f8d685;color: rgb(132,77,51);font-size: 20px;font-family: 'Abyssinica SIL', serif;">Choose This</button></a></div>
                        </div>
                        <div></div>
                    </div>
                </div>
            </div> -->
            <script>
                document.addEventListener('DOMContentLoaded',init);
                function init(){
                    //define an event handler for the change event of the name input
                    var x = document.getElementById('searchOrders');
                    x.addEventListener('input',findProducts);
                }
            
                function findProducts(){
                    console.log("here");
                    //initiate an ajax request to retrieve the products of the selected supplier
                    var merchant = document.getElementById("searchOrders").value;
                    fetch("/searchResult?merchant="+merchant,{
                        method:'GET'
                    }).then(response => response.text()).then(data => {
                     //display the products in the placeholder div
                    document.getElementById('placeholder').innerHTML = data;
                    }).catch(error => {
                    console.error(error);
                })
                }
            </script>

{% endblock content %}