<!DOCTYPE html>
<html data-bs-theme="light" lang="en" style="background: #fdf8e5;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Team(0614)</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abyssinica+SIL&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/Boostrap-Tabs.css">
    <link rel="stylesheet" href="assets/css/Features-Image-images.css">
    <link rel="stylesheet" href="assets/css/Lightbox-Gallery-baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/Navbar-Centered-Links-icons.css">
</head>

<body>
    <div style="background: #fdf8e5;">
        <nav class="navbar navbar-expand-md bg-body py-3" style="margin-left: 60px;width: auto;border-radius: 25px;box-shadow: 5px 5px 16px 1px rgb(136,140,143);margin-top: 20px;margin-right: 60px;margin-bottom: 16px;padding-top: 20px;border-color: rgb(188,192,195);text-shadow: 1px 1px 6px rgb(156,160,163);background: rgb(253,248,229);min-width: -11px;">
            <div class="container"><img src="assets/img/LOGO.png" width="160" height="72" style="width: 220px;margin-left: 0px;margin-right: -4px;padding-left: 0px;"><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1" style="width: 1500px;">
                    <ul class="navbar-nav mx-auto" style="margin-right: 46px;margin-left: 312px;">
                        <li class="nav-item text-uppercase fs-5 text-start border-0"><a class="nav-link fs-4 text-center" data-bss-hover-animate="pulse" href="index.html" style="--bs-body-color: #4b4d4f;font-size: 30px;color: #844d33;font-family: 'Abril Fatface', serif;font-weight: bold;text-shadow: 0px 0px;margin-right: 20px;">Home</a></li>
                        <li class="nav-item"><a class="nav-link fs-4" data-bss-hover-animate="pulse" href="order_1.html" style="text-shadow: 0px 0px;font-family: 'Abril Fatface', serif;color: rgb(255,196,74);font-weight: bold;"><span style="color: rgb(132, 77, 51);">Order</span></a></li>
                        <li class="nav-item"><a class="nav-link fs-4" data-bss-hover-animate="pulse" href="payment_details.html" style="color: rgb(255,196,74);font-family: 'Abril Fatface', serif;text-shadow: 0px 0px;margin-left: 20px;font-weight: bold;"><span style="color: rgb(132, 77, 51);">Payment</span></a></li>
                    </ul><button class="btn btn-primary" data-bss-hover-animate="pulse" type="button" style="margin-right: 15px;background: rgb(255,196,73);font-family: 'Abril Fatface', serif;font-size: 16px;border-color: rgb(255,196,74);">Register</button><button class="btn btn-primary" data-bss-hover-animate="pulse" type="button" style="background: #ffc449;font-family: 'Abril Fatface', serif;border-color: #ffc449;">Log in</button>
                </div>
            </div>
        </nav>
    </div>
    <div style="background: #fffbef;padding-top: 10px;padding-bottom: 100px;margin-top: -24px;margin-bottom: 236px;">
        <div class="row">
            <div class="col-xl-4" style="width: 400px;margin-left: 100px;margin-top: 200px;margin-right: 30px;"><img src="assets/img/支付.png" width="400px" style="margin-top: -128px;"></div>
            <div class="col-md-6" style="padding-top: 90px;padding-right: 20px;padding-bottom: 20px;padding-left: 20px;margin-left: 10px;">
                <h1>Payment Details</h1>
                <p class="text-info-emphasis">2024-06-04 10:47:18</p>
                <div class="card bg-secondary-subtle" style="margin-top: 19px;margin-bottom: 20px;">
                    <div class="card-body" style="margin-bottom: px;padding-bottom: 0px;">
                        <h4 class="card-title">Pay To</h4>
                        <p class="card-text">Lukin Coffee&nbsp;</p>
                        <p></p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Comment:</h4>
                        <h6 class="text-muted card-subtitle mb-2" style="font-size: 25px;text-align: center;margin-bottom: 20px;">Quickly</h6>
                        <h4 class="card-title">Total Money:</h4>
                        <h6 class="card-subtitle mb-2" style="text-align: center;font-size: 28px;color: var(--bs-form-invalid-color);margin-left: 20px;">4 Yuan</h6>
                        <h4 class="card-title">Payment Method</h4>
                        <div class="row" style="margin-left: 30px;">
                            <div class="col"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-wechat" style="font-size: 60px;">
                                    <path d="M11.176 14.429c-2.665 0-4.826-1.8-4.826-4.018 0-2.22 2.159-4.02 4.824-4.02S16 8.191 16 10.411c0 1.21-.65 2.301-1.666 3.036a.324.324 0 0 0-.12.366l.218.81a.616.616 0 0 1 .029.117.166.166 0 0 1-.162.162.177.177 0 0 1-.092-.03l-1.057-.61a.519.519 0 0 0-.256-.074.509.509 0 0 0-.142.021 5.668 5.668 0 0 1-1.576.22ZM9.064 9.542a.647.647 0 1 0 .557-1 .645.645 0 0 0-.646.647.615.615 0 0 0 .09.353Zm3.232.001a.646.646 0 1 0 .546-1 .645.645 0 0 0-.644.644.627.627 0 0 0 .098.356"></path>
                                    <path d="M0 6.826c0 1.455.781 2.765 2.001 3.656a.385.385 0 0 1 .143.439l-.161.6-.1.373a.499.499 0 0 0-.032.14.192.192 0 0 0 .193.193c.039 0 .077-.01.111-.029l1.268-.733a.622.622 0 0 1 .308-.088c.058 0 .116.009.171.025a6.83 6.83 0 0 0 1.625.26 4.45 4.45 0 0 1-.177-1.251c0-2.936 2.785-5.02 5.824-5.02.05 0 .1 0 .15.002C10.587 3.429 8.392 2 5.796 2 2.596 2 0 4.16 0 6.826m4.632-1.555a.77.77 0 1 1-1.54 0 .77.77 0 0 1 1.54 0m3.875 0a.77.77 0 1 1-1.54 0 .77.77 0 0 1 1.54 0"></path>
                                </svg></div>
                            <div class="col"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-alipay" style="font-size: 44px;">
                                    <path d="M2.541 0H13.5a2.551 2.551 0 0 1 2.54 2.563v8.297c-.006 0-.531-.046-2.978-.813-.412-.14-.916-.327-1.479-.536-.303-.113-.624-.232-.957-.353a12.98 12.98 0 0 0 1.325-3.373H8.822V4.649h3.831v-.634h-3.83V2.121H7.26c-.274 0-.274.273-.274.273v1.621H3.11v.634h3.875v1.136h-3.2v.634H9.99c-.227.789-.532 1.53-.894 2.202-2.013-.67-4.161-1.212-5.51-.878-.864.214-1.42.597-1.746.998-1.499 1.84-.424 4.633 2.741 4.633 1.872 0 3.675-1.053 5.072-2.787 2.08 1.008 6.37 2.738 6.387 2.745v.105A2.551 2.551 0 0 1 13.5 16H2.541A2.552 2.552 0 0 1 0 13.437V2.563A2.552 2.552 0 0 1 2.541 0"></path>
                                    <path d="M2.309 9.27c-1.22 1.073-.49 3.034 1.978 3.034 1.434 0 2.868-.925 3.994-2.406-1.602-.789-2.959-1.353-4.425-1.207-.397.04-1.14.217-1.547.58Z"></path>
                                </svg></div>
                            <div class="col"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-credit-card" style="font-size: 52px;">
                                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1z"></path>
                                    <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"></path>
                                </svg></div>
                        </div>
                    </div>
                </div>
                <div class="card"></div><button class="btn btn-primary" type="button" style="margin-left: 268px;margin-top: 12px;background: #f8d685;color: var(--bs-black);border-style: none;border-color: #f8d685;border-top-style: none;">Cancel</button><button class="btn btn-primary" type="button" style="margin-left: 35px;margin-top: 10px;background: #f8d685;color: rgb(10,9,9);border-color: #f8d685;border-top-style: none;">Pay</button>
                <div class="btn-group" role="group"></div>
            </div>
        </div>
    </div>
    <footer class="text-center footer" style="background: #ffc448;height: 150px;padding-top: 0px;width: auto;margin-top: 4px;"><img class="img-fluid" src="assets/img/Footer.png" width="auto" style="margin-top: -316px;background: #fffbef;margin-bottom: -53px;" height="">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4" style="font-family: 'Abril Fatface', serif;"><span style="color: rgb(132, 77, 51);">Mission</span></h4>
                    <p style="font-family: Montserrat, sans-serif;">Getting everyone what they want quickly.</p>
                </div>
                <div class="col-md-4 mb-5 mb-lg-0" style="padding-top: 0px;">
                    <h4 class="text-uppercase" style="font-family: 'Abril Fatface', serif;"><span style="color: rgb(132, 77, 51);">Around the Web</span></h4>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a class="btn btn-outline-light text-center btn-social rounded-circle" role="button" href="#"><i class="fa fa-facebook fa-fw"></i></a></li>
                        <li class="list-inline-item"><a class="btn btn-outline-light text-center btn-social rounded-circle" role="button" href="#"><i class="fa fa-google-plus fa-fw"></i></a></li>
                        <li class="list-inline-item"><a class="btn btn-outline-light text-center btn-social rounded-circle" role="button" href="#"><i class="fa fa-twitter fa-fw"></i></a></li>
                        <li class="list-inline-item"><a class="btn btn-outline-light text-center btn-social rounded-circle" role="button" href="#"><i class="fa fa-dribbble fa-fw"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4 class="text-uppercase mb-4" style="font-family: 'Abril Fatface', serif;"><span style="color: rgb(132, 77, 51);">Contact us</span></h4>
                    <p class="lead mb-0"><span style="font-family: Montserrat, sans-serif;">E-MAIL:RUNNER123@Delivery.com</span></p>
                </div>
            </div>
        </div>
        <div class="text-center text-white copyright py-4" style="background: #ffc448;">
            <div class="container"><small>Copyright ©&nbsp;Brand 2024</small></div>
        </div>
    </footer>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/Lightbox-Gallery-baguetteBox.min.js"></script>
    <script src="assets/js/Lightbox-Gallery.js"></script>
</body>

</html>