<!DOCTYPE html>
<html data-bs-theme="light" lang="en" style="background: #fdf8e5;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Team(0614)</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abyssinica+SIL&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/Boostrap-Tabs.css">
    <link rel="stylesheet" href="assets/css/Features-Image-images.css">
    <link rel="stylesheet" href="assets/css/Lightbox-Gallery-baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/Navbar-Centered-Links-icons.css">
</head>

<body>
    <div style="background: #fdf8e5;">
        <nav class="navbar navbar-expand-md bg-body py-3" style="margin-left: 60px;width: auto;border-radius: 25px;box-shadow: 5px 5px 16px 1px rgb(136,140,143);margin-top: 20px;margin-right: 60px;margin-bottom: 16px;padding-top: 20px;border-color: rgb(188,192,195);text-shadow: 1px 1px 6px rgb(156,160,163);background: rgb(253,248,229);min-width: -11px;">
            <div class="container"><img src="assets/img/LOGO.png" width="160" height="72" style="width: 220px;margin-left: 0px;margin-right: -4px;padding-left: 0px;"><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1" style="width: 1500px;">
                    <ul class="navbar-nav mx-auto" style="margin-right: 46px;margin-left: 312px;">
                        <li class="nav-item text-uppercase fs-5 text-start border-0"><a class="nav-link fs-4 text-center" data-bss-hover-animate="pulse" href="index.html" style="--bs-body-color: #4b4d4f;font-size: 30px;color: #844d33;font-family: 'Abril Fatface', serif;font-weight: bold;text-shadow: 0px 0px;margin-right: 20px;">Home</a></li>
                        <li class="nav-item"><a class="nav-link fs-4" data-bss-hover-animate="pulse" href="order_1.html" style="text-shadow: 0px 0px;font-family: 'Abril Fatface', serif;color: rgb(255,196,74);font-weight: bold;"><span style="color: rgb(132, 77, 51);">Order</span></a></li>
                        <li class="nav-item"><a class="nav-link fs-4" data-bss-hover-animate="pulse" href="payment_details.html" style="color: rgb(255,196,74);font-family: 'Abril Fatface', serif;text-shadow: 0px 0px;margin-left: 20px;font-weight: bold;"><span style="color: rgb(132, 77, 51);">Payment</span></a></li>
                    </ul><button class="btn btn-primary" data-bss-hover-animate="pulse" type="button" style="margin-right: 15px;background: rgb(255,196,73);font-family: 'Abril Fatface', serif;font-size: 16px;border-color: rgb(255,196,74);">Register</button><button class="btn btn-primary" data-bss-hover-animate="pulse" type="button" style="background: #ffc449;font-family: 'Abril Fatface', serif;border-color: #ffc449;">Log in</button>
                </div>
            </div>
        </nav>
    </div>
    <div style="background: #fffbef;padding-top: 10px;padding-bottom: 100px;margin-top: -24px;margin-bottom: 236px;">
        <div class="container" style="width: auto;margin-left: 124px;padding-right: 0px;margin-right: 1px;height: auto;background: var(--bs-body-bg);box-shadow: 3px 3px 13px;border-radius: 20px;">
            <div class="row" style="width: auto;height: auto;padding-right: 0px;padding-left: 0px;margin-right: 156px;margin-left: 160px;padding-bottom: 0px;margin-bottom: 72px;margin-top: 64px;">
                <div class="col-md-6" style="width: auto;margin-left: -114px;">
                    <h1 style="margin-top: 20px;"><strong><span style="color: rgb(0, 0, 0);">Food</span> request</strong></h1>
                    <h5 style="font-size: 30px;font-family: 'ADLaM Display', serif;"><strong><span style="color: rgb(255, 196, 72);">Request content</span></strong></h5><textarea style="width: 440px;"></textarea>
                    <div class="row">
                        <div class="col-xl-3"><button class="btn btn-light" type="button" style="margin-right: 24px;margin-bottom: 15px;background: rgb(255,250,226);"><span style="color: rgb(130, 130, 130);">Medicine</span></button></div>
                        <div class="col-xl-2"><button class="btn btn-light" type="button" style="margin-right: 24px;margin-bottom: 15px;background: rgb(255,250,226);"><span style="color: rgb(130, 130, 130);">Books</span></button></div>
                        <div class="col"><button class="btn btn-light" type="button" style="margin-right: 24px;margin-bottom: 15px;background: rgb(255,250,226);"><span style="color: rgb(130, 130, 130);">Living goods</span></button></div>
                    </div>
                    <div class="card" style="margin-top: 20px;">
                        <form class="p-3 p-xl-4" method="post">
                            <div class="mb-3"><label class="form-label" for="name-1" style="font-size: 18px;font-weight: bold;">Pick-up location</label><input class="form-control" type="text" id="name-1" name="name" style="border-width: 2px;"></div>
                            <div class="mb-3"><label class="form-label" for="email" style="font-size: 18px;font-weight: bold;">Delivery location</label><input class="form-control" type="email" id="email" name="email" style="border-width: 2px;"></div>
                            <div class="mb-3"><label class="form-label" for="message" style="font-size: 18px;font-weight: bold;">Telephone</label><textarea class="form-control" id="message" name="message" rows="6" style="height: 46px;border-width: 2px;"></textarea></div>
                            <div class="mb-3"><label class="form-label" for="message-1" style="font-size: 18px;font-weight: bold;">Expected delivery time</label><textarea class="form-control" id="message-1" name="message" rows="6" style="height: 46px;border-width: 2px;"></textarea></div>
                            <div class="mb-3"><label class="form-label" for="message-2" style="font-size: 18px;font-weight: bold;">Fees</label><textarea class="form-control" id="message-2" name="message" rows="6" style="height: 46px;border-width: 2px;"></textarea></div>
                            <div class="mb-3"><label class="form-label" for="message-3" style="font-size: 18px;font-weight: bold;">Comment</label><textarea class="form-control" id="message-3" name="message" rows="6" style="height: 46px;border-width: 2px;"></textarea></div>
                        </form>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <p style="width: 200PX;margin-left: 0px;padding-right: 0px;margin-right: 44px;margin-top: 16px;">Payable&nbsp; ¥0.00</p>
                        </div>
                        <div class="col" style="width: 200px;padding-left: 10px;text-align: left;padding-top: 10px;"><a class="btn btn-primary" role="button" href="#" style="background: rgb(255,196,72);border-style: none;"><strong>Publish Now</strong></a></div>
                    </div>
                    <div class="btn-group" role="group"></div>
                </div>
                <div class="col-md-6" style="padding-right: 0px;"><img style="width: auto;height: auto;max-width: 500px;margin-top: 80px;margin-left: 56px;" width="800" height="870" src="assets/img/necessarity.png"></div>
            </div>
        </div>
    </div>
    <footer class="text-center footer" style="background: #ffc448;height: 150px;padding-top: 0px;width: auto;margin-top: 4px;"><img class="img-fluid" src="assets/img/Footer.png" width="auto" style="margin-top: -316px;background: #fffbef;margin-bottom: -53px;" height="">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4" style="font-family: 'Abril Fatface', serif;"><span style="color: rgb(132, 77, 51);">Mission</span></h4>
                    <p style="font-family: Montserrat, sans-serif;">Getting everyone what they want quickly.</p>
                </div>
                <div class="col-md-4 mb-5 mb-lg-0" style="padding-top: 0px;">
                    <h4 class="text-uppercase" style="font-family: 'Abril Fatface', serif;"><span style="color: rgb(132, 77, 51);">Around the Web</span></h4>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a class="btn btn-outline-light text-center btn-social rounded-circle" role="button" href="#"><i class="fa fa-facebook fa-fw"></i></a></li>
                        <li class="list-inline-item"><a class="btn btn-outline-light text-center btn-social rounded-circle" role="button" href="#"><i class="fa fa-google-plus fa-fw"></i></a></li>
                        <li class="list-inline-item"><a class="btn btn-outline-light text-center btn-social rounded-circle" role="button" href="#"><i class="fa fa-twitter fa-fw"></i></a></li>
                        <li class="list-inline-item"><a class="btn btn-outline-light text-center btn-social rounded-circle" role="button" href="#"><i class="fa fa-dribbble fa-fw"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4 class="text-uppercase mb-4" style="font-family: 'Abril Fatface', serif;"><span style="color: rgb(132, 77, 51);">Contact us</span></h4>
                    <p class="lead mb-0"><span style="font-family: Montserrat, sans-serif;">E-MAIL:RUNNER123@Delivery.com</span></p>
                </div>
            </div>
        </div>
        <div class="text-center text-white copyright py-4" style="background: #ffc448;">
            <div class="container"><small>Copyright ©&nbsp;Brand 2024</small></div>
        </div>
    </footer>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/Lightbox-Gallery-baguetteBox.min.js"></script>
    <script src="assets/js/Lightbox-Gallery.js"></script>
</body>

</html>