{% extends "layouts/base.html" %}
<!-- base页面中留存 stylesheets 和 javascripts block, 可以在head中添加部分内容 -->
{% block stylesheets %}{% endblock stylesheets %}
{% block javascripts %}{% endblock javascripts %}
<!-- 更改标题在下方代码块中-->
{% block title %}<!--页面标题-->{% endblock title %}
{% block content %}
<div class="container" style="margin-top: 50px;">
    <div class="row">
        <div class="col-md-3"><a href="user_data.html"><img data-bss-hover-animate="pulse"
                    src="static/assets/img/user_data.png" style="width: 300px;height: auto;"></a></div>
        <div class="col-md-3"><a href="request_data.html"><img data-bss-hover-animate="pulse"
                    src="static/assets/img/request_data.png"
                    style="width: 260px;height: 145px;margin-left: 16px;margin-top: -12px;" width="2172"
                    height="1122"></a></div>
        <div class="col-md-3"><a href="acceptance_data.html"><img data-bss-hover-animate="pulse"
                    src="static/assets/img/acceptance_data.png"
                    style="width: 250px;height: 135px;margin-left: 12px;"></a></div>
        <div class="col-md-3"><a href="payment_data.html"><img data-bss-hover-animate="pulse"
                    src="static/assets/img/payment_data.png" style="width: 240px;height: 130px;margin-top: -8px;"></a>
        </div>
    </div>
</div>
<div style="background: #fffbef;"><img class="img-fluid" src="static/assets/img/分割线.png" width="auto"
        style="width: auto;min-width: -7px;" height=""></div>
<div style="margin-bottom: 300px;">
    <h1
        style="font-family: 'Abril Fatface', serif;font-size: 70px;color: rgb(132,77,51);background: #fffbef;margin-bottom: 0;">
        &nbsp; &nbsp; &nbsp; &nbsp; Order by Merchants</h1>

    <form method="post" action="/RequestGraph">    
    <p class="text-start"
        style="font-size: 25px;background: #fffbef;padding-top: 20px;padding-bottom: 20px;margin-bottom: 0px;">&nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; By Merchants :
        <select
            id="merchant" style="margin-left: 10px;padding: 5px;padding-top: 5px;padding-right: 5px;padding-bottom: 5px;color: var(--bs-black);text-align: center;box-shadow: 3px 3px 10px var(--bs-gray);border-radius: 10px;border-width: 2px;border-color: #f8d685;">

            <optgroup label="Select a Merchant" name="mname" >
                <option value="">All</option>
                {%for merchant in merchants %}
                <option value="{{merchant['Merchant']}}">{{merchant['Merchant']}}</option>
                {%endfor%}
            </optgroup>
        </select> <input type="submit" value="Submit"></p>
        
    </form> 

    {%with messages = get_flashed_messages()%}
    {%if messages%}
    <ul>
        {% for message in messages%}
        <li>{{message}}</li>
        {%endfor%}
    </ul>
    {% endif %}
    {% endwith%}
  
    <div>

        <script>
               document.addEventListener('DOMContentLoaded',init);
                function init(){
             //define envent handler for change event of the select element
                var x = document.getElementById('merchant');
                x.addEventListener('change',findmerchant);
            
               function findmerchant(){
             //initiate an ajax request to retrieve the products of the selected supplier
               var merchant = document.getElementById('merchant').value;
            
               fetch('/RequestGraph?merchant=' + merchant, {
                method: 'GET'
             }).then(response => response.text()).then(data =>{
             //display the products in the placeholder div
             document.getElementById('placeholder').innerHTML=data;
             }).catch(error => {
             console.error(error);
             })
            
             }
            }
            </script>






        
       
    </div>
</div>

<div id="placeholder"></div>
{% endblock content %}